<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body >
{%block content%}
<div class="container">
    <div class="row">
        

        <table class="table table-bordered">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Location</th>
                <th scope="col">Hotel Type</th>
                <th scope="col">description</th>
                <th scope="col">Hotel Type</th>
                <th scope="col">Rating</th>
              </tr>
            </thead>
            {% for hotel in Hotels %}
            <tbody>
              <tr>
                
                <td>{{hotel.name}}</td>
                <td>{{hotel.Location}}</td>
                <td>{{hotel.description}}</td>
                <td>{{hotel.type}}</td>
                <td>{{hotel.rating}}</td>
                
              </tr>
            </tbody>
          </table>
          
          


{% endfor %}


    </div>
</div>







{%endblock%}
</body>
</html>